.main{
    margin:auto;
    width:60%;
    padding:10px;
    text-align:center;
    font-size:50px;
    color:rgb(255, 255, 255);
    padding-top:250px;
}
body{
  background:linear-gradient(to right,rgb(5, 203, 225),rgb(20, 2, 2));
}